/* ===== Responsivo (Mobile) ===== */
@media (max-width: 1100px) {
	/* MENU */
	header .nav { display: none; }

	.menu-icon {
		display: flex;
	}
	.menu-icon span {
		display: block;
		width: var(--size-20);
		height: 2px;
		background: var(--cream);
		border-radius: 2px;
		transition: transform .25s,opacity .25s;
	}

	.nav-link-mobile {
		font-size: var(--size-18);
		font-weight: 500;
		color: var(--blue-mid);
		padding: var(--size-14) var(--size-16);
		border-bottom: 1px solid #ddd;
		transition: background .15s;
	}

	.menu-checkbox:checked ~ .menu-icon span:nth-child(1) { transform: translateY(7px) rotate(45deg); }
	.menu-checkbox:checked ~ .menu-icon span:nth-child(2) { opacity: 0; }
	.menu-checkbox:checked ~ .menu-icon span:nth-child(3) { transform: translateY(-7px) rotate(-45deg); }


	/* BUTTON */
	.btn {
		font-size: var(--size-14);
		padding: var(--size-12) var(--size-24);
	}

	/* HERO */
	.hero-bg {
		height: 55%;
		bottom: 0;
		top: unset;
	}
	#home .hero-bg {
		height: 68%;
	}
	.hero-blur-blue, .hero-blur-green {
		top: 0;
	}
	.hero-card-master {
		width: clamp(200px, 25vw, 300px);
		left: 13vw;
	}
	.hero-card-floating {
		padding: var(--size-20) var(--size-24);
		right: 13vw;
	}
	.hero-tag-text { font-size: var(--size-12);}
	.hero-img-right { 
		bottom: 0;
		object-fit: contain;
		left: 50%;
		translate: -50%;
		width: 100%;
	}
	.hero-content { 
		width: 100%;
		height: 700px;
		gap: var(--size-24); 
	}
	.hero-heading { 
		line-height: 1;
	}
	.hero-subtitle { 
		font-size: var(--size-16);
		line-height: 1.2;
	}
	.hero-trust-list {
		background: linear-gradient(to top, var(--blue-deep), rgba(10, 37, 64, 0));
		left: 0;
		padding: 20px;
		gap: 8px;
		width: 100%;
	}
	.hero-trust-item {
		width: 48%;
		line-height: 1;
	}
	.hero-trust-text {
		font-size: var(--size-10);
		line-height: inherit;
	}
	section, footer { padding: 5rem 4rem; }

	.section-header {
		grid-template-columns: 1fr;
		gap: var(--size-32);
		margin-bottom: 3rem;
	}

	.card {
		padding: 2rem 1.5rem;
	}

	.cards-grid { grid-template-columns: 1fr 1fr; }

	.steps-container {
    	grid-template-columns: 1fr;
    	gap: 40px;
  	}

  	/* Esconde o bloco de imagens no mobile */
  	.steps-images { display: none; }

	  /* Remove animação hover no mobile */
  	.step:hover {
    	border-left-color: transparent;
  	}

  	.step:hover .step-title {
    	color: var(--color-text);
  	}

  	.step {
    	gap: var(--size-18);
    	padding-left: 0;
  	}

  	.step-number {
	    width: 44px;
	    height: 44px;
	    font-size: var(--size-18);
  	}
	
	.creditcard .container {
		grid-template-columns: 1fr;
	}

	.creditcard-image {
		order: -1;
	}

	.reviews-grid {
		grid-template-columns: 1fr;
	}
	.cta .person {
		right: 0;
		width: 220px;
		height: 375px;
	}
	/* ABOUT */
	.about .container { grid-template-columns: 1fr; }
	.diferencial-grid { grid-template-columns: 1fr; }

	/* FOOTER */
	.footer-top { flex-wrap: wrap; }
	.footer-brand { 
		flex-basis: 100%; 
		margin-bottom: 20px;
	}
	.footer-col { flex-basis: 30%;}
	.footer-links-list a { line-height: 1; }

}

@media (max-width: 768px) {
	header { padding: 1rem 1.5rem; }
	.hero-img-right { object-fit: cover; }
	.hero-card-master, .hero-card-floating { display: none; }

	.nav-links { display: none; }

	.hero { padding: var(--size-24);}

	section, footer {
		padding: 5rem 1.5rem;
	}

	.cards-grid {
		grid-template-columns: 1fr;
	}
	.cta-text {
		width: 100%;
	}
	.cta .person {
		right: 16px;
		width: 110px;
		height: 192px;
	}
	.footer-top, .footer-bottom {
		flex-direction: column;
		gap: var(--size-16);
	}
}
